@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

:root {
  --banner: 4rem;
  font-family: "Roboto Condensed";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #0f0 !important;
  outline: solid #f00 1px !important; */
}

body {
  height: 100vh;
}

h1 {
  font-family: 'Bungee', cursive;
  font-size: 3rem;
  color: white;
  text-align: center;
}

.logo  {
 background-color: rgba(46, 5, 52, 0.55);
 margin-top: 20vh;
}



h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.banner {
  background: url("https://images.unsplash.com/photo-1656972805718-c9817f16c9c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=696&q=80");
  width: 100%;
  background-size: cover;
}

body {
  display: flex;
}

.form-container {
  width: 60%;
  margin-left: auto;
  background-color: #f9fafb;
}

.form-header {
  max-width: 580px;
  margin-left: 2rem;
  margin-top: 3.5rem;
}

.form-header p {
  max-width: 500px;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.form-container p:last-child {
  margin-left: 0;
}

.form-container p:nth-child(2) {
  margin-bottom: 2rem;
}

form {
  background-color: white;
  padding: 1.5rem 2rem;
  -webkit-box-shadow: 3px 4px 7px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 7px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 7px -4px rgba(0, 0, 0, 0.75);
  margin-bottom: 1.5em;
}

.input {
  width: 200px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  height: 24px;
}

input:focus {
  outline: none !important;
  border: 1px solid #b026ff;
  box-shadow: 0 2px 3px #b026ff;
}

#signupBtn {
  background-color: #b026ff;
  font-weight: bold;
  color: white;
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 2em;
  cursor: pointer;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 450px;
}

.flex > div:nth-child(even) {
  margin-left: clamp(5px, 7%, 100px);
}





form label {
  display: block;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-size: 0.7rem;
}

form .input {
  margin-bottom: 1.4em;
}


.error_message {
  font-size: 0.7rem;
  color: red;
  display: none;
  position: absolute;
  margin-bottom: 10px;
}

.login-signup {
  margin-left: 2rem;
  padding-bottom: 2em;
}

.banner {
  max-width: 50%;
  position: relative;
}

.pic-credit {
  bottom: 0;
  width: 100%;
  color: white;
  position: absolute;
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .flex > div:nth-child(even) {
    margin-left: 0em;
  }
  .flex div {
    display: block;
  }
}

@media only screen and (max-width: 470px) {
  .banner {
    display: none;
  }
  .form-container {
    width: 100%;
  }
}
